<div class="alertCover">
	<div class="alertBox w-72 md:w-[30vw]">
		<div class="infoHead">
			<img src="" alt="Image" class="typeImg">
			<h2 class="typeName"></h2>
		</div>
		<div class="alertBody">
		</div>
		<div class="alertOptions">
			<button type="submit" class="alertCancel" id="cancelHandler">Cancel</button>
			<button type="button" class="alertConfirm" id="alertBtnHandler">OK</button>
		</div>
	</div>
</div>

@code {

}
