@page "/dashboard"
@inject IJSRuntime JSRuntime;

<PageTitle>SkillIT - Dashboard</PageTitle>

<div class="dashboard-page cursor-default w-full ">

	<div class="dash-body flex flex-row text-slate-300 ">
		<div class="user-section hidden md:flex p-3 absolute md:relative w-full md:w-[45vw] h-auto flex-col top-[0px] bottom-0 mb-0">
			<button class="exit-cp absolute h-7 w-7 flex md:hidden justify-center items-center text-2xl text-center text-white top-2 right-2">
				X
			</button>
			<div class="avt w-40 h-40 mb-10 mx-auto">
				<img class="u-img w-40 h-40 rounded-[85px]" src="assets/images/user-def.png" alt="">
				<button id="edit-avt" title="Change image" class="edit-avt bg-amber-500 h-10 w-10 p-2 flex justify-center items-center hover:shadow-md">
					<img class=" h-9 w-9 m-5 " src="assets/icons/edit.svg" alt="">
				</button>
			</div>
			<div class="personal flex flex-col w-full h-auto">
				<div class="info mt-1 w-full text-center">
					<span class="c font-bold text-center text-3xl u-name">Full Name</span>
				</div>
				<div class="info mt-1 text-center">
					<span class="c text-center text-xl u-email">Email</span>
				</div>
				<div class="info mt-1 text-center flex flex-row w-full px-[30%] md:px-[15%]">
					<a class="c text-start text-xl u-phone" aria-label="call">Phone</a>
					<button id="d_phone" title="Edit phone" class="edit-info hover:bg-red-600  h-8 w-8 bg-slate-200 p-[0.1rem] ml-auto rounded-md flex justify-center items-center">
						<img class=" h-8 w-8 m-5 " src="assets/icons/edit.svg" alt="">
					</button>
				</div>
				<div class="info mt-1 flex flex-row w-full px-[30%] md:px-[15%]">
					<span class="c text-start text-lg u-dob w-full">DoB</span>
					<button id="u_dob" title="Change Date of Birth"
							class="edit-info hover:bg-red-600  h-8 w-8 bg-slate-200 p-[0.1rem] ml-auto rounded-md flex justify-center items-center">
						<img class=" h-8 w-8 m-5 " src="assets/icons/edit.svg" alt="">
					</button>
				</div>
				<div class="info mt-1 flex flex-row w-full px-[30%] md:px-[15%]">
					<span class="c text-start text-lg u-g w-full">Gender</span>
					<button id="u_g" title="Change gender"
							class="edit-info hover:bg-red-600  h-8 w-8 bg-slate-200 p-[0.1rem] ml-auto rounded-md flex justify-center items-center">
						<img class=" h-8 w-8 m-5 " src="assets/icons/edit.svg" alt="">
					</button>
				</div>
				<div class="info mt-1 flex flex-row w-full px-[30%] md:px-[15%]">
					<span class="c text-start text-lg u-address w-full">Address</span>
					<button id="u_address" title="Edit address"
							class="edit-info hover:bg-red-600  h-8 w-8 bg-slate-200 p-[0.1rem] ml-auto rounded-md flex justify-center items-center">
						<img class=" h-8 w-8 m-5 " src="assets/icons/edit.svg" alt="">
					</button>
				</div>
			</div>
			<div class="skills-wrapper flex flex-col mt-6 p-2 rounded-lg shadow-lg">
				<h1 class="font-bold text-xl text-start mr-auto">My Skills</h1>
				<div class="skills flex flex-col w-full rounded-lg">
				</div>
				<div class="skill-form w-full mt-2 flex flex-col">
					<h1 class="font-bold">Add skill</h1>
					<div class="skill-wrapper flex flex-row gap-2">
						<div class="input-wrapper rounded-md flex flex-row w-6/12 h-9 border overflow-hidden" style="border-radius: 5px;">
							<input class="w-full side-in px-2 py-1" type="text" name="name" id="nskn" placeholder="Name" />
						</div>
						<div class="input-wrapper rounded-md flex flex-row w-full h-9 border overflow-hidden" style="border-radius: 5px;">
							<input class="w-full side-in px-2 py-1" type="url" name="link" id="nskp" placeholder="Level" list="level_list">
							<datalist id="level_list">
								<option value="Beginner" />
								<option value="Amateur" />
								<option value="Intermediate" />
								<option value="Professional" />
								<option value="GodLevel" />
							</datalist>
						</div>
					</div>
					<button title="Save skill"
							class="save-skill-btn text-md ml-auto text-white bg-blue-600 w-24 md:text-center hover:shadow-lg hover:bg-blue-700 rounded px-2 sm:px-4 py-1 mt-2 "
							role="button">
						Add
					</button>
				</div>
			</div>
			<div class="socials-wrapper flex flex-col mt-4 p-2 rounded-lg shadow-lg">
				<h1 class="font-bold text-xl text-start mr-auto">Socials</h1>
				<div class="socials flex flex-col w-full rounded-lg">
				</div>
				<div class="social-form w-full mt-2 flex flex-col">
					<h1 class="font-bold">Add Social</h1>
					<div class="social-wrapper flex flex-row gap-2">
						<div class="input-wrapper rounded-md flex flex-row w-6/12 h-9 border" style="border-radius: 5px;">
							<input class="w-full side-in px-2 py-1" type="text" name="name" id="nscn" placeholder="Name" />
						</div>
						<div class="input-wrapper rounded-md flex flex-row w-full h-9 border " style="border-radius: 5px;">
							<input class="w-full side-in px-2 py-1" type="url" name="link" id="nscp" placeholder="Link" />
						</div>
					</div>
					<button id="this" title="Save social" class="save-social-btn relative text-md ml-auto text-white bg-blue-600 w-24 md:text-center hover:shadow-lg hover:bg-blue-700 rounded px-2 sm:px-4 py-1 mt-2 " role="button">Add</button>
				</div>
			</div>
		</div>
		<div class="main-view pb-1 text-center text-slate-900 bg-white text-xl w-[100%] h-full flex flex-col justify-center items-center">
			<div class="dash-header">
				<span class="left-section">
					<h3 class="dash-greetings hidden">Welcome back</h3>
				</span>
				<span class="right-section">
					<a class="p-detail-btn flex md:hidden">Profile</a>
				</span>
			</div>
			<div class="dash-element shadow border">
				<div class="de-header">Courses In-progress</div>
				<ul class="list in-progess-list">
					<div class="empty-list">
						Nothing here yet!
					</div>
				</ul>
			</div>
			<div class="dash-element shadow border">
				<div class="de-header">Certificates</div>
				<ul class="list">
					<div class="empty-list">
						Nothing here yet!
					</div>
				</ul>
			</div>
			<div class="dash-element shadow border">
				<div class="de-header">Achievements</div>
				<ul class="list">
					<div class="empty-list">
						Nothing here yet!
					</div>
				</ul>
			</div>
			<div class="dash-element shadow border">
				<div class="de-header">Skills</div>
				<div class="skills flex flex-col w-full rounded-lg">
					<div class="empty-list">
						Nothing here yet!
					</div>
				</div>
			</div>
			<div class="dash-element shadow border">
				<div class="de-header">Socials</div>
				<div class="socials flex flex-col w-full rounded-lg">
					<div class="empty-list">
						Nothing here yet!
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

@code {
	protected override void OnAfterRender(bool firstRender)
	{
		base.OnAfterRender(firstRender);
		JSRuntime.InvokeVoidAsync("initDashboard");
	}
}
